div.add_keyword(data-module="add_keyword")
  div.row
    input(id="keyword",type="text",placeholder="消费项目")
    span.tip(data-tip="例如：午餐、加油")
  div.row
    select(id="category")
      option 选择分类
      for item in categories
        option= decodeURIComponent(item.category)
      option.create 创建新分类
    span.tip(data-tip="例如：餐饮、交通")
  div.row
    a.btn.small-btn 确定