extends layout
block append head
  title 记账
  link(type="text/css",rel="stylesheet",href="/css/add.css")

block append content
  div
    for name in categories
      p= name
  div
    for name in users
      p= name

block append footer
  script(type='text/javascript',src="/js/index/main.js")
