extends layout
block append head
  title 记账
  link(type="text/css",rel="stylesheet",href="/css/category.css")

block append header
  include ../client/modules/headbar/index

block append content
  - var chartData = {};
  - var colors = [];
  - colors.push('#e3fda4');
  - colors.push('#c9f957');
  - colors.push('#a2d04c');
  - colors.push('#6bc11e');
  - colors.push('#39d12e');
  - colors.push('#70b330');
  - colors.push('#67a131');
  - colors.push('#3b942a');
  - colors.push('#22920c');
  - colors.push('#059221');
  - colors.push('#1c6200');
  - colors.push('#0c5a1c');
  - colors.push('#02400d');
  - colors.push('#164920');
  - var colorIndex = 0;
  for item in tallies
    - var categoryName = decodeURIComponent(item.category);
    - if(!chartData[categoryName]) chartData[categoryName] = {cost:0,color:colors[colorIndex++]};
    - chartData[categoryName].cost += parseFloat(item.cost);
  script
    |var chartData = 
    != JSON.stringify(chartData)
  div.chart
    canvas#chart(width=200,height=200)
    ul.desc
      for item,name in chartData
        li.category
          span.name= name
          span.color(style='background:' + item.color)
block append footer
  script(type='text/javascript',src="/externals/chart.js")
  script(type='text/javascript',src="/js/common/main.js")
  script(type='text/javascript',src="/js/category/main.js")
  script.
    (function(){
      var ctx = document.getElementById("chart").getContext("2d");
      var data = [];
      for(var name in chartData){
        data.push({
          value:chartData[name].cost,
          color:chartData[name].color
        });
        var $li = $('<li >')
      }
      var myNewChart = new Chart(ctx).Pie(data);
    })();
