extends layout
block append head
  title 记账
  link(type="text/css",rel="stylesheet",href="/css/cost.css")

block append content
  include ../client/modules/headbar/index
  ul.costs
    for item in costs
      li.item
        a(href="/done/" + item.cost)= item.cost
  div.custom
    input(id="cost",type="text",placeholder="自定义金额")
    a.btn(onclick="javascript:location.href='/done/' + document.getElementById('cost').value") 确定

block append footer
  script(type='text/javascript',src="/js/cost/main.js")
