extends layout
block append head
  title 记账
  link(type="text/css",rel="stylesheet",href="/css/index.css")

block append content
  include ../client/modules/headbar/index
  div.panel
    ul
      li
        a.btn(href="/category") 记一笔
      li
        a(href="/list") 查看明细

block append footer
  script(type='text/javascript',src="/js/index/main.js")
