extends layout
block append head
  title 记账
  link(type="text/css",rel="stylesheet",href="/css/keyword.css")

block append header
  include ../client/modules/headbar/index

block append content
  ul.keywords
    - keywords.sort(function(a,b){return b.count - a.count})
    for item in keywords
      li.item
        a(href="/cost/" + item.keyword + '/' + item.category + '?' + Date.now())= item.keyword
  include ../client/modules/add_keyword/index

block append footer
  script(type='text/javascript',src="/js/common/main.js")
  script(type='text/javascript',src="/js/keyword/main.js")
