extends layout
block append head
  title 记账
  link(type="text/css",rel="stylesheet",href="/css/list.css")

block append content
  include ../client/modules/headbar/index
  ul.costs
    - tallies = tallies.reverse();
    for item in tallies
      li.item
        strong.cost
          = item.cost
          small.time= (new Date(item.time * 1)).toDateString()
        span.info
          span.keyword= item.keyword
          span.category= item.category
        span.del
          include ../client/modules/del_tally/index
          +delTally(item.id)

block append footer
  script(type='text/javascript',src="/js/common/main.js")
  script(type='text/javascript',src="/js/list/main.js")
