extends layout
block append head
  title 记账
  link(type="text/css",rel="stylesheet",href="/css/settings.css")

block append header
  include ../client/modules/headbar/index

block append content
  div.panel
    ul
      li
        a(href="keyword") 消费项目管理
      li
        a(href="category") 消费类别管理

block append footer
  script(type='text/javascript',src="/js/settings/main.js")
