@import '../common/base'
@import 'modules'

.chart
  padding-top:40px
  position:relative
  .desc
    position:absolute
    top:50px
    right:0
    width:120px
    .category
      .color
        display:inline-block
        width:20px
        height:20px
        vertical-align:middle
        margin-right:8px
      .name
        font-size:14px
        vertical-align:middle