@import '../common/base'
@import 'modules'

.panel
  $mainHeight = 120px
  height:$mainHeight
  position:absolute
  top:50%
  text-align:center
  margin-top:-($mainHeight/2)
  width:300px
  li
    height:($mainHeight/2)
    line-height:($mainHeight/2)
    text-align:center
.tools
  position:absolute
  bottom:0
  right:0
  padding-bottom:5px
  .icon
    margin-right:5px
    font-size:20px
  .icon-cog
    color:$grayLight
