// Buttons
$btnBackground = lighten($themeBackground,25%)
$btnBackgroundDarker = darken($btnBackground, 10%)
$btnText = white

$btnPrimaryBackground = $themeColor
$btnPrimaryBackgroundDarker = darken($btnPrimaryBackground, 20%)
$btnPrimaryText = white

$btnForbiddenBackground = #ececec
$btnForbiddenBackgroundDarker = darken($btnForbiddenBackground, 10%)
$btnForbiddenText = #b8b8b8

$btnDangerBackground = #bd362f
$btnDangerBackgroundDarker = darken($btnDangerBackground, 10%)
$btnDangerText = white

.btn
  font-size:18px
  width:70%
  padding:15px
  line-height:24px
  border:1px solid rgba($themeColor,.9)
  background:rgba($themeColor,.9)
  display:inline-block
  color:rgba(255,255,255,.8)
  border-radius(3px)
  &:hover
    color:white
    background:lighten(@background,10%)
  &:active
    background:darken(@background,20%)

.small-btn
  width:60px
  padding:8px

.icon-btn
  font-size:36px
  line-height:40px