//colors
$grayLight = #ccc
$grayLighter = #f5f5f5
$themeColor = #90AA26
$secondColor = #35AC9D
$themeBackground = #3e3d49

$bodyBackground = #aaa

$dividingColor = #f9f9f9
$dividingLineColor = #aaa

$textColor = #333
$infoTextColor = #bbb
$summaryColor = #8f8f8f

$linkColor = $themeColor
$linkColorHover = darken($linkColor, 10%)

$placeholderColor = #ddd

$headerBorder = #eee
$footerBorder = $headerBorder

//layouts
$headHeight = 52px
$baseWidth = 980px
$baseSpacing = 20px

// fonts
$fontFamily = Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif
$numFontFamily = Arial, sans-serif
$baseFontSize = 16px
$minFontSize = 12px

// parag
$baseLineHeight = 16px
$higherLineHeight = 24px

// Forms
$inputBackground = white
$inputBorder = #ccc
$inputBorderRadius = 3px
$inputDisabledBackground = #ccc

// Dropdowns
$dropdownBackground = $btnPrimaryBackground

// Z-index
$zindexDropdown = 20
$zindexFloat = 30

// Form states and alerts
$warningText = #c09853
$warningBackground = #fcf8e3
$warningBorder = darken($warningBackground, 5%)

$errorText = #b94a48
$errorBackground = #f2dede
$errorBorder = darken($errorBackground, 5%)

$successText = #468847
$successBackground = #dff0d8
$successBorder = darken($successBackground, 5%)

$infoText = #3a87ad
$infoBackground = #d9edf7
$infoBorder = darken($infoBackground, 5%)
