@import '../common/base'
@import 'modules'
.summary
  padding-top:20px
  position:relative
  .num
    color:$secondThemeColor
    font-size:24px
    small
      font-size:14px
  .category
    position:absolute
    right:0
    line-height:31px
    font-size:20px
    color:$textColor
.costs
  padding-bottom:10px
  .item
    display:block
    padding:10px
    border:1px solid lighten($themeColor,20%)
    margin:10px 0
    position:relative
    border-radius(3px)
    color:$textColor
    strong
      font-size:30px
      display:inline-block
      width:140px
      color:$secondThemeColor
      .unit
        font-size:16px
      .time
        font-size:12px
        display:block
        color:$textColor
        font-weight:normal
    .info
      position:absolute
      bottom:10px
      right:0
      .keyword,.category
        line-height:30px
        padding-right:10px
        font-size:14px
    .del
      position:absolute
      top:10px
      right:0